body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  width: 90vw;
  height: 90vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.para{
  max-width: 50vw;
  height: 30vh;
  overflow-x: hidden; /* Hide horizontal overflow */
  border: 1px solid #ccc;
  color: black;
  
}
.para p{
  max-width: 50vw;
  overflow-x: hidden;
  color: black;
  
}
.userpara{
  width: 50vw;
  height: 30vh ;

  border: 2px solid black;
  overflow: auto;
}

textarea{
  max-width: 50vw;
  height: 30vh;
  overflow-x: hidden; /* Hide horizontal overflow */
  border: 1px solid #ccc;
  color: black;
}
.container{
  display: grid;
  grid-template-columns: 5fr 3fr;
}
.right{
  margin-left: 5rem;
}
.left{
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}